[submodule "MyRevoke/vendor/spdlog"]
	path = MyRevoke/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MyRevoke/vendor/glm"]
	path = MyRevoke/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "MyRevoke/vendor/imgui"]
	path = MyRevoke/vendor/imgui
	url = https://github.com/Revokeeee/imgui.git
[submodule "MyRevoke/vendor/GLFW"]
	path = MyRevoke/vendor/GLFW
	url = https://github.com/Revokeeee/glfw.git
[submodule "MyRevoke/vendor/yaml-cpp"]
	path = MyRevoke/vendor/yaml-cpp
	url = https://github.com/Revokeeee/yaml-cpp
[submodule "MyRevoke/vendor/ImGuizmo"]
	path = MyRevoke/vendor/ImGuizmo
	url = https://github.com/Revokeeee/ImGuizmo
[submodule "MyRevoke/vendor/Box2D"]
	path = MyRevoke/vendor/Box2D
	url = https://github.com/Revokeeee/box2d

[submodule "MyRevoke/vendor/doctest"]
	path = MyRevoke/vendor/doctest
	url = https://github.com/doctest/doctest
